<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>Cours de JS 2020-2021</h1>

		<section id="news">
			<h2 id="titleNews">
				<article>
					<h3 class="title">News 1</h3>
				</article>

				<article>
					<h3 class="title">News 2</h3>
				</article>

				<article>
					<h3 class="title">News 3</h3>
				</article>
			</h2>
			
		</section>

		<form id="addNewsForm">
			Nom de la news : <input id="newsForm" type="text" name="tilteToAdd">

			<input id="buttonForm" type="submit" name="addNewsBtn">
			
		</form>
	</body>

	<!-- <script type="submit" name="addNewsBtn"> -->
		
		
	</script>

	<script src="../public/js/const.js"></script>
	<script src="../public/js/funct.js"></script>
	<script src="../public/js/log.js"></script>
	<script src="../public/js/main.js"></script>

	

	
</html>