<!doctype html>
<html>
	<head>
	</head>

	<body>

		<h1> TP2 JS </h1>

		<section id="news">
			<h2 id="titleNews"></h2>

			<article id="1">
				<h3 class="title"> News 1</h3>
				<p>Cette article est le premier article de la liste</p>
				<button type="button" name="button">view details</button>
			</article>

			<article id="2">
				<h3 class="title">News 2</h3>
				<p>Cette article est le deuxieme article de la liste</p>
				<button type="button" name="button">view details</button>
			</article>

			<article id="3">
				<h3 class="title">News 3</h3>
				<p>Cette article est le troisieme article de la liste</p>
				<button type="button" name="button">view details</button>
			</article>
		</section>

		<form id="addNewsForm">
			Nom de la news : <input name="titleToAdd" type="text" />

			<input type="submit" name="addNewsBtn" />
		</form>
	</body>


	<!-- <script src="../public/js/articlehtml.js"></script> -->
	<script src="../public/js/function.js"></script>
	<script src="../public/js/article.js"></script>
	<script src="../public/js/variables.js"></script>
	<script src="../public/js/html.js"></script>

	<script src="../public/js/main.js"></script>

</html>
